.red{
    background: red;color: white
}
.yui{
    background: orange;color: white;
}
.blue{
    background: blue;color: white;
}
.gree{
    background: mediumseagreen;color: white;
}
.gray{
    background: gray;color: white;
}
.sl{
    background: slateblue;color: white;
}
.vio{
    background: violet;color: white;
}
.li{
    background: lightgray; color: white;
}